.icon-eye { background-image: url(../images/eye.png); }
.icon-eye-slash { background-image: url(../images/eye_slash.png); }
.icon-within {
  margin-left: -25px;
  margin-right: 5px;
  cursor: pointer;
}
